


<p class="page-heading">Display Order Master</p>


<div class="page-body">

    <div class="table">
        <div class="first">
           <p class="heading">Select</p>


         <div class="items-names">
            <select class="form-select" aria-label="Default select example" style="border: 1px solid black;width:100% !important;">
                <option selected>Select</option>
                <option value="1">sub category-1</option>
                <option value="2">sub category-2</option>
                <option value="3">sub category-3</option>
                <option value="3">sub category-4</option>
                <option value="3">sub category-5</option>
              </select>
         </div>


       <div class="buttons">
        <button class="btn">UP</button>
        <button class="btn">DOWN</button>
       </div>


        </div>
        <div class="middle">
            <p class="heading">Item Name</p>

            
            <div class="items-names">
                <p>Item-1</p>
                <p>Item-2</p>
                <p>Item-3</p>
                <p>Item-4</p>
                <p>Item-5</p>
                <!-- <p>Item-6</p>
                <p>Item-7</p>
                <p>Item-8</p>
                <p>Item-9</p>
                <p>Item-10</p> -->
            </div>




        </div>


        <!-- <div class="last">

            <p class="heading">Group Name</p>

            
            <div class="items-names">
                <p>Group-1</p>
                <p>Group-2</p>
                <p>Group-3</p>
                <p>Group-4</p>
                <p>Group-5</p>
                <p>Group-6</p>
                <p>Group-7</p>
                <p>Group-8</p>
                <p>Group-9</p>
                <p>Group-10</p>
               
            </div>

        </div> -->




    </div>



    <div class="modal-footer savesec" style="margin: 20px auto auto auto !important;align-items: center !important;justify-content: center !important;">
        <button type="reset" class="btn btn-secondary">Clear</button>
        <button type="submit" class="btn btn-success" >Save</button>
      </div>



</div>