<!-- <div class="container" id="container">
    <div class="form-container log-in-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h2>Login <i class="fa-solid fa-right-to-bracket"></i></h2>
            <div class="social-container">
                
            </div>

            <input  type="text" placeholder="login_id " formControlName="login_id" class="form-control class"
                [ngClass]="{ 'is-invalid': submitted && f['login_id'].errors }" />
            <div *ngIf="submitted && f['login_id'].errors" class="invalid-feedback">
                <div *ngIf="f['login_id'].errors['required']">Email is required</div>
            </div>
            <div class="input-eye-password">
                <input [type]="showPassword ? 'text': 'password'" placeholder="Password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                <span class="">
                    <span class="toggle"  *ngIf="showPassword" (click)="showHidePassword()"><i class="fa-solid fa-eye"></i></span>
                    <span class="toggle" *ngIf="!showPassword" (click)="showHidePassword()"><i class="fa-solid fa-eye-slash"></i></span>
                </span>
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
            </div>
            </div>
            <a href="#">Forgot password?</a> --> 
            <!-- <button type="submit">Login</button> -->
            <!-- <span style="margin-top: 40px;">don't have account..? <span routerLink="/register" style="cursor: pointer;color:#41ff80;"><b><i class="fa-solid fa-user-plus"></i> signup now</b></span> </span> -->

        <!-- </form>
    </div> -->

    <!-- <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h3>Verify your credentials and get access</h3>
                <span>
                    <h4>to</h4>
                </span>
                <p>The Human Resource Management Solution (HRMS) Application to simplifies and automates HR functions,
                    such as recruitment,
                    employee management, leave, attendance, separation, and many. </p>
            </div>
        </div>
    </div>  -->


    <div class="login-page">



        <div class="login">
        
        <div class="left">
            <img src="/assets/cafe.png" alt="">
        </div>
        
        <div class="right">
        
              <div class="sign">
                <img src="/assets/logo.jpg" alt="" class="logo">
                <h2 class="signin">LogIn</h2>
              </div>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form mt-3 inputfield">
                    <input  type="text" id="form12" placeholder="login_id " formControlName="login_id" class="form-control class"
                    [ngClass]="{ 'is-invalid': submitted && f['login_id'].errors }" />
                <div *ngIf="submitted && f['login_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['login_id'].errors['required']">Email is required</div>
                </div>

                </div>
                <div class="form mt-4 inputfield">
                    <input id="form12" [type]="showPassword ? 'text': 'password'" placeholder="Password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                   
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                </div>
                </div>
                <div class="lastsec">
                <button class="btn btn-danger continuebtn" routerLink="/dashboard">Login</button>
                
                <p class="mt-3" style="text-decoration: underline;cursor: pointer;"> Reset password</p>
                </div>
              </form>
                
        </div>
        
        </div>
        
        <div class="circlegif1">
        <img src="assets/dtc-chile-circle.gif" alt="">
        </div>
        
        
        
        </div>