
<form [formGroup]="unitForm" (ngSubmit)="unitPost()">

  <p class="subredhead">UOM Master</p>


  <div class="box">

    <!-----form-fileds------>

    <div class="right d-flex">


      <div class="form subfield">
        <label for="inlineFormSelectPref">Unit Name <span>*</span></label>
        <input type="text" id="form9Example1" formControlName="name" class="form-control" />
        <input type="hidden" formControlName="id">
      </div>

      

      <div class="form subfield statusarea">
        <label for="inlineFormSelectPref" > Status <span>*</span></label>

        <div class="form-check form-switch">
          <input class="form-check-input" formControlName="isactive" type="checkbox" id="flexSwitchCheckChecked" checked
            style="width: 50px !important;">
        </div>

      </div>



    </div>




    <!-----form-fileds------>
    <div class="modal-footer savesec">
      <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Clear</button>
      <button type="submit" class="btn btn-sucess" style="background: green !important;">Save</button>
    </div>

  </div>
</form>





<div class="table-part">

  <div class="alldis">

    <div style="display: flex;align-items: center !important;" class="newpart"> 
      <h3>ALL UOM MASTERS</h3>

       
  <div class="search-bar">
    <form class="d-flex">
      <input class="form-control me-2" 
      type="search" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText" placeholder="Search" aria-label="Search">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
  </div>


    
    </div>
     <div class="form-check form-switch" style="align-items: center !important;display: flex;">
       <input class="form-check-input" type="checkbox" (click)="filtredIsActive()" [(ngModel)]="isChecked"
         id="flexSwitchCheckChecked" checked style="width: 60px !important;margin-right: 5px;height:30px;border-radius: 30px;">
         <!-- <p class="mt-3">Active/InActive</p> -->
     </div>
   
   </div>


  <table class="table">
    <thead>
      <tr>

        <th scope="col">S.NO</th>
        <th scope="col">UOM Name</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let uni of unit |search:searchText;let i=index;">
        <td data-label="S.NO">{{1+i}}</td>
        <td data-label="Unit Name">{{uni.name}}</td>
   
        <td data-label="Action">
          <span class="form-check form-switch" style="display: flex !important;">
              <div>
                <input class="form-check-input"  (click)="StatusUpdate(uni)" type="checkbox" id="flexSwitchCheckChecked"
                [checked]="uni.isactive"
                 style="width: 32px !important;height: 15px !important;">
              </div>
               <div><i class="fa fa-pencil"(click)="updateUnit(uni)"  style="color: red;margin: 0 10px;" ></i></div>
            </span>
       </td>


      </tr>

    </tbody>
  </table>

</div>