


.alldis{
  text-align: left !important;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 0px auto 0 auto;
}
table{
 width: fit-content;
  margin: auto;
 
}

.table-part{
margin: 0px 0px 20px 0px !important;
padding: 20px 0;
}


.alldis h3{
  color: #408DFB;
  font-weight: bold;
  font-size: 14px;
  margin: 20px 0 20px 0px;
}

table{
border: 1px solid grey;
}
table th{
color: #408DFB;
font-weight: bold;

font-size: 14px;
}
table td{
  border-bottom: 1px solid rgb(163, 161, 161) !important;
  font-size: 12px;
}
table td,th{
padding:  15px auto !important;
margin: 0 auto;
width: 500px;
}
table thead{
 background: aliceblue;
  font-size: 14px;
}
.pencil{
  width: 25px;
  height: 25px;
  cursor: pointer;
}





/*------nc--popup----*/



.box{
  margin: 10px 0px 0px 0px !important;
  align-items: center;
  justify-content: space-between;
  // text-align: center;
  border: 1px solid #aaa8a8;
  border-radius: 5px;
  padding-bottom: 10px;
}

.right{
  flex-wrap: wrap;
  margin: auto;
  // align-items: center;
  // justify-content: center;
}

.right .subfield{
margin: 30px 20px 0px 20px;
}

.right select{
  width: 200px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #aaa8a8 !important;
}
input{
  width: 200px;
}

.right div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.right div label{
  width: fit-content;
  margin: 0 10px;
  font-size: 13px;
}


.savesec{
 display: flex;
align-items: center;
justify-content: flex-end;
text-align: center;
margin: 0 10px 0 0;
}
.savesec button{
  background: #21263C;
  color: white;
}
.savesec img{
  width: 22px;
  height: 22px;
  border-radius: 100%;
  margin: 0 2px;
}

label span{
  color: red;

}

.fa-pencil{
  color: orangered;
  border-radius: 100%;
  margin-left: 10px;
  font-size: 18px;
}
/*------nc--popup----*/





/*------media-queries----------*/



@media (min-width:1025px) and (max-width:1030px){

.right select,input{
  width: 50% !important;
}

.right div{
  text-align: left !important;
  margin: 10px 0 !important;
}
label{
  width: 200px !important;
}
.subfield{
  width: 100%;
}
.box{
  padding: 10px;
}
}


@media(max-width:999px){
  .table-part{
    margin: 0px 0px 20px 0px !important;
    padding: 0;
    }
    .right div{
     flex-direction: column;
      margin: 10px 0 !important;
      text-align: center;
    }
    label{
      width: 100% !important;
    }
  .box{
    margin: 10px 0 0 0 !important;
    padding:10px;
  }
  .right .subfield{
    margin: 0 0px;
    width: 100%;
    }
   
    .savesec{
      justify-content: center !important;
      margin: 10px auto auto auto !important;
    }
    .right input,select{
      width: 100% !important;
      margin-top: 5px !important;
    }
    .form-switch{
      position: relative;
      right: 25px;
    }
  }
  

@media(max-width:768px){
.table thead{
    display: none;
}
.table, .table tbody,.table tr,.table td{
    display: block;
    width: 100%;
}

.table tbody tr td{
    text-align: right;
    padding: 10px 2% 10px 30%;
    position: relative;
}


.table td:before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 600;
    text-align: left;
    
}
.form-switch input{
  margin-left: auto !important;
}

}

@media(max-width:768px){
.form-switch{
  justify-content: flex-end !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  left: 10px;
 }
}


.bulk{
display: flex;

}
.bulk .subfield{
display: flex;
align-items: center;
margin: 0 10px;
}
.bulk .subfield select,.bulk .subfield input{
width: 200px;
height: 35px;
margin: 0 15px;
border-radius: 5px;
}
.craetetable{
margin-left: auto !important;
width: fit-content !important;
}



.subredhead{
  color: red;
  margin: 10px 0 0 0;
  font-weight: bold;
  font-size: 13px;

}


.search-bar{
  margin: 0px 0px 0px 20px;
}
.search-bar input{
  width: 500px;
}


@media(max-width:1000px){
  .search-bar{
    margin: 20px 0px;
    width: 100%;
  }
  .search-bar input{
    width: 100%;
  }
}



/*----alldis--------*/

@media(max-width:769px){

  .alldis{
    margin:  0 !important;
  }
  .alldis h3{
    font-size: 15px;
  }
  .alldis .mt-3{
    font-size: 13px;
  }
  .alldis input{
    width: 40px !important;margin-right: 5px;height:20px !important;border-radius: 20px !important;
  }
}

@media(max-width:474px){
  .alldis{
    flex-direction: column;
    margin: 0 0 20px 0 !important;
  }
  .alldis h3{
    font-size: 18px;
  }
  .alldis .mt-3{
    font-size: 16px;
  }

  .alldis input{
    width: 40px !important;margin-right: 5px;height:20px !important;border-radius: 20px !important;
    position: relative !important;
    right: 10px !important;
  }
}

@media(max-width:999px){
  .statusarea{
    flex-direction: row !important;
  }
  .statusarea label{
    width: fit-content !important;
  }
}








/*------search-bar-new-code----------*/


@media(max-width:999px){
  .newpart{
    flex-direction: column !important;
  }
  .search-bar input{
    width: 100% !important;
    height: 100% !important;
    margin: 0 10px 0 0 !important;
  }
  h3{
    width: 100% !important;
    margin: 20px 0 0px 0 !important;
  }
  .search-bar{
    margin-top: 20px;
    margin-bottom: 10px !important;
  }
  
.alldis{
  text-align: center !important;
  justify-content: flex-start !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px auto 0 auto;
  padding-bottom: 10px;
}


}