

<nav id="sidebar" class="sidebar shadow" [class.togglenav]="remove" >

    <div class="sidebar-content">

     

      <div class="sidebar-header" style="width:100%;height: 45px;
      margin: 0px ;padding-top: 5px;">
         <!-- <img src="/assets/logo.jpg" alt="" style="width:100%;height:100%;padding: 0px;background: black !important"> -->
         <h3 class="text-white text-center">Billzen</h3> 
         
      </div>
  
      <div class="sidebar-menu" style="box-flex-group: white !important;">
        <ul >
          <li *ngFor="let menu of menus"
              [ngClass]="{'active': menu.active , 'sidebar-dropdown':menu.type === 'dropdown' , 'header-menu':menu.type === 'header'}">
            <span *ngIf="menu.type === 'header'">{{menu.title}}</span>
            <a *ngIf="menu.type !== 'header' && menu.type !== 'simple'" (click)='toggle(menu)'>
              <i class="{{menu.icon}} fa-icon"></i>
              <span>{{menu.title}}</span>
              <span *ngIf="menu.badge" class="badge badge-pill" [ngClass]="menu.badge.class">{{menu.badge.text}}</span>
            </a>
            <a *ngIf="menu.type === 'simple'" [routerLink]="[menu.routerLink]" routerLinkActive="active"
               [routerLinkActiveOptions]="menu.routerOptions" (click)='toggle(menu)'>
              <i class="{{menu.icon}}"></i>
              <span>{{menu.title}}</span>
              <span *ngIf="menu.badge" class="badge badge-pill" [ngClass]="menu.badge.class">{{menu.badge.text}}</span>
            </a>
            <div *ngIf="menu.type === 'dropdown'" class="sidebar-submenu" [@slide]="getState(menu)">
              <ul>
                <li *ngFor="let submenu of menu.submenus;">
                  <a *ngIf="submenu.type === 'simple'" [routerLink]="[submenu.routerLink]"
                     routerLinkActive="active" [routerLinkActiveOptions]="submenu.routerOptions"
                     (click)='toggle(submenu)'>
                    <i class="{{submenu.icon}}"></i>
                    <span>{{submenu.title}}</span>
                    <span *ngIf="submenu.badge" class="badge badge-pill"
                          [ngClass]="submenu.badge.class">{{submenu.badge.text}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>




    </div>
  </nav>
