


<p class="subhead">KOT Printer</p>

<select class="form-select" aria-label="Default select example" style="width: fit-content;">
    <option selected>Transaction Type</option>
    <option value="1">Online</option>
    <option value="2">Dine In</option>
    <option value="3">Home Delivery</option>
    <option value="4">Take Away</option>
  </select>



  <div class="threesections">

   <div class="sec1 firstsec">
     <div class="selectall">
        <h4>Group</h4>
        <p>
            <input type="checkbox" name="" id=""><span>Select All</span>
        </p>
     </div>
     <div class="lists">
        <p><span><input type="checkbox"></span>Beverages</p>
        <p><span><input type="checkbox"></span>EGG Items</p>
        <p><span><input type="checkbox"></span>indian breads</p>
        <p><span><input type="checkbox"></span>mutton,fish & prawns gravies</p>
        <p><span><input type="checkbox"></span>nonveg biryanis</p>
        <p><span><input type="checkbox"></span>nonveg gravies</p>
        <p><span><input type="checkbox"></span>nonveg starters</p>
        <p><span><input type="checkbox"></span>soups</p>
        <p><span><input type="checkbox"></span>tandoori</p>
        <p><span><input type="checkbox"></span>veg biryanis</p>
        <p><span><input type="checkbox"></span>veg gravies</p>
        <p><span><input type="checkbox"></span>veg starters</p>
     </div>
   </div>


   <div class="sec1 sec2">
    <div class="selectall">
        <h4>Items</h4>
        <p>
            <input type="checkbox" name="" id=""><span>Select All</span>
        </p>
     </div>
    <div class="lists">
       <p><span><input type="checkbox"></span>water bottle</p>
       <p><span><input type="checkbox"></span>sprite</p>
       <p><span><input type="checkbox"></span>thumsup</p>
       <p><span><input type="checkbox"></span>coke</p>
       <p><span><input type="checkbox"></span>juice</p>
       <p><span><input type="checkbox"></span>maza</p>
    </div>
  </div>


  <div class="sec1 sec3">
   <div class="d-flex">
    <h4>Printer</h4>
    <input type="text" class="inputbox">
    <button class="btn save-btn">Save</button>
   </div>


<div class="lists">
    <div style="justify-content: space-between !important;display: flex;">
        <span><input type="checkbox"></span>
        <p style="border: 0;margin-right: auto !important;">send to OneNote 16</p>
        <p style="border: 0;"><i class="fa-solid fa-trash"></i></p>
    </div>
    <div style="justify-content: space-between !important;display: flex;">
        <span><input type="checkbox"></span>
        <p style="border: 0;margin-right: auto !important;">send to OneNote 16</p>
        <p style="border: 0;"><i class="fa-solid fa-trash"></i></p>
    </div>
    <div style="justify-content: space-between !important;display: flex;">
        <span><input type="checkbox"></span>
        <p style="border: 0;margin-right: auto !important;">send to OneNote 16</p>
        <p style="border: 0;"><i class="fa-solid fa-trash"></i></p>
    </div>
    <div style="justify-content: space-between !important;display: flex;">
        <span><input type="checkbox"></span>
        <p style="border: 0;margin-right: auto !important;">send to OneNote 16</p>
        <p style="border: 0;"><i class="fa-solid fa-trash"></i></p>
    </div>
    <div style="justify-content: space-between !important;display: flex;">
        <span><input type="checkbox"></span>
        <p style="border: 0;margin-right: auto !important;">send to OneNote 16</p>
        <p style="border: 0;"><i class="fa-solid fa-trash"></i></p>
    </div>
</div>


 


<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Clear</button>
    <button type="button" class="btn btn-success">Save</button>
</div>