


<p class="subhead">KOT Printer</p>



<div>
    <select class="form-select" aria-label="Default select example" style="width: fit-content;" >
        <option >Transaction Type</option>
        <option *ngFor="let trnasctn of transactiontypes">{{trnasctn.transactionName}}</option>
    </select>
</div>



  <div class="threesections">

   <div class="sec1 firstsec">
     <div class="subdiv">
        <h4>Group</h4>
        <span>
            <input type="checkbox">
            Select All
        </span>
     </div>
     <div class="lists">

        <p *ngFor="let sub of subcategory">
            <span><input type="checkbox" value="{{sub.subcategoryId}}" (change)="onChange($event)" ></span>
            {{sub.subcategoryName}}
        </p>
        
     </div>
   </div>



   <div class="sec1 sec2">
    <div class="subdiv">
        <h4>Items</h4>
        <span>
            <input type="checkbox">
            Select All
        </span>
     </div>
    <div class="lists">
       <p *ngFor="let sub of items">
           <span><input type="checkbox" ></span>
           {{sub.item_name}}
       </p>
    </div>
  </div>


  <div class="sec1 sec3">

   <div class="d-flex">
    <h4>Printer</h4>
    <input type="text" class="inputbox">
    <button class="btn save-btn">Save</button>
   </div>


<div class="printers-part">
    <div class="lists" >

    <div style="justify-content: space-between !important;display: flex;" *ngFor="let printer of printernames" class="innerdiv">
        <input type="checkbox" class="inputbox" >
        <p style="border: 0;margin-right: auto !important;">{{printer.printer_name}}</p>
        <p style="border: 0;"><i class="fa-solid fa-trash" (click)="delprinter(printer.id)"></i></p>
    </div>

</div>
</div>




<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Clear</button>
    <button type="button" class="btn btn-success">Save</button>
</div>