



.subhead{
    color: red;
    font-weight: bold;
    margin-top: 20px;
}

.threesections{
    display: flex;
    margin-top: 20px;
    width: 100%;
}

.firstsec{
    width: 50% !important;
}
.firstsec .lists,.sec2 .lists,.printers-part{
    margin-top: 5px !important;
}
.innerdiv{
    padding-bottom: 1.5px !important;
} 
.sec2{
    width: 100% !important;
}
.sec3{
    align-items: center;
    width: fit-content !important;
}


.sec3 .fa-solid{
    margin-left: auto !important;
    color: red;
    font-size: 16px;
}


.sec3 .d-flex{
    padding: 0 10px;
}

.lists p span{
    border: 1px solid grey;
    border-left: 0;
    border-top: 0;
    padding: 6px 10px;
    position: relative;
    right: 10px;
}
.lists div span{
    border: 1px solid grey;
    border-top: 0;
    border-left: 0;
    padding: 4px 10px;
    position: relative;
    right: 0px;
}
.lists p{
    border: 1px solid grey;
    padding: 5px 10px;
    margin: 0;
}
.lists div{
    border: 1px solid grey;
    margin: 0;
    padding: 0;
}
.inputbox{
    height: 30px;
    margin: 0 10px;
}
.sec3 .lists span{
    border: 0 !important;
    padding: 0 5px !important;
}
.sec3{
    font-size: 15px;
}

.fa-trash{
    cursor: pointer;
}
.save-btn{
    background: #ff3d91;
    color: white;
    height: 30px;
    font-size: 13px;
}



.modal-footer{
    position: absolute;
    bottom: 80px;
    right: 60px;
}

.subdiv{
    display: flex;
    align-items: center !important;
    justify-content: flex-start;
    margin: 0 10px;
}
.subdiv span{
    margin-left: 50px;
    font-size: 15px;
}
.subdiv span input{
    position: relative;
    top: 1px;
}
.sec1{
    border: 1px solid grey;
    padding-top: 10px;
}
.firstsec{
    border-right: 0 !important;
}
.sec2,.sec3{
    border-left: 0 !important;
}


// @media(max-width:9992px){
//     .threesections{
//         flex-wrap: wrap;
//         padding: 0 20px;
//     }
//     .threesections .sec1{
//         width: 100% !important;
//         margin: 10px 0;
//     }
//     .tarnsaction-part,.subhead{
//         padding: 0 20px;
//     }
//     .sec3 .d-flex{
//         margin: 10px 0;
//     }
//     .modal-footer{
//         position: relative;
//         bottom: 0px;
//         right: 0px;
//         top: 0px;
//     }
// }

// @media(max-width: 768px){
//     .threesections{
//         flex-wrap: wrap;
//         padding: 0 0px;
//     }
//     .threesections .sec1{
//         width: 100% !important;
//         margin: 10px 0;
//     }
//     .tarnsaction-part,.subhead{
//         padding: 0 0px;
//     }
   
// }




