<form [formGroup]="tableForm" (ngSubmit)="tablePost()">

  <p class="subredhead">Table Master</p>



  <!-----form-fileds------>

  <div class="box">

    <div class="right d-flex">


      <div class="form subfield">
        <label for="inlineFormSelectPref" >Table Name <span>*</span></label>
        <input formControlName="name" type="text" id="form9Example1" class="form-control" />
        <input type="hidden" formControlName="tableId">
      </div>
      <div class="form subfield">
        <label for="inlineFormSelectPref">Section</label>
        <select class="select" formControlName="sectionId">
          <option value="">--Select--</option>
          <option *ngFor="let sec of section" value="{{sec.sectionId}}">{{sec.name}}</option>
          <!-- <option value="2">Two</option> -->
        </select>
      </div>
     
      <div class="form subfield statusarea">
        <label for="inlineFormSelectPref" > Status <span>*</span></label>

        <div class="form-check form-switch">
          <input class="form-check-input" formControlName="isactive" type="checkbox" id="flexSwitchCheckChecked" checked
            style="width: 50px !important;">

        </div>

      </div>




    </div>




    <div class="modal-footer savesec">
      <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Clear</button>
      <button type="submit" class="btn btn-sucess" style="background: green !important;">Save</button>
    </div>
  </div>

  <!-----form-fileds------>


</form>




    <!-----Bulk-table-code----->

    <div class="d-flex bulktable" style="margin: 20px 0 0px 0;justify-content: flex-end;cursor: pointer;">

      <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" 
      aria-controls="collapseExample" style="display: flex;">
       <input type="checkbox" style="cursor: pointer;"><span class="bulk-table-span">Bulk Table</span>
      </a>
     
    </div>
     
    
    
    <div class="collapse" id="collapseExample" style="border: 1px solid green;border-radius: 5px;">
      <form [formGroup]="bulkTableForm"  (ngSubmit)="bulkTablePost()">

      <div class="card card-body" >
        
        <!-- Bluk Table Insertion -->
      <div class="bulk mt-2">
    
        <div class="form subfield">
          <label for="inlineFormSelectPref">Section Name</label>
          <select class="select" formControlName="sectionId">
            <option value="">--Select--</option>
            <option *ngFor="let sec of activeSection" value="{{sec.sectionId}}">{{sec.name}}</option>
            <!-- <option value="2">Two</option> -->
          </select>
        </div>
    
    
        <div class="form subfield">
          <label for="inlineFormSelectPref">Create Tables(No.)</label>
         <input  type="text" id="form9Example1" formControlName="name" class="form-control" />
        </div>
        
    
      </div>
      <button class="btn btn-success craetetable" type="submit">Create Tables</button>
    
    
      </div>
    </form>

    </div>
    
    
    
    
    
    
    
    
    <!-----Bulk-table-code----->

<div class="category-page">



  <div class="alldis">

   <div style="display: flex;align-items: center !important;" class="newpart"> 
    <h3>ALL TABLE MASTERS</h3>
    

  <div class="search-bar">
    <form class="d-flex">
      <input class="form-control me-2" 
      type="search" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText" placeholder="Search" aria-label="Search">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
  </div>
  <div class="search-bar">
    <form class="d-flex">
      <select class="form-control me-2"  (change)="getselectedID($event)">
        <option value="">--Select--</option>
        <option *ngFor="let sec of activeSection" value="{{sec.sectionId}}">{{sec.name}}</option>
        <!-- <option value="2">Two</option> -->
      </select>
    </form>
  </div>




  </div>
    <div class="form-check form-switch" style="align-items: center !important;display: flex;">
      <input class="form-check-input" type="checkbox" (click)="filtredIsActive()" [(ngModel)]="isChecked"
        id="flexSwitchCheckChecked" checked style="width: 60px !important;margin-right: 5px;height:30px;border-radius: 30px;">
        <!-- <p class="mt-3">Active/InActive</p> -->
    </div>
  
  </div>


  <table class="table table-part">
    <thead>
      <tr>

        <th scope="col">S.NO</th>
        <th scope="col">Table Name</th>
        <th scope="col">Section Name</th>
        <!-- <th scope="col">Active / Deactive</th> -->
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tab of table |search:searchText;let i=index;">
        <td data-label="S.NO">{{1+i}}</td>
        <td data-label="Table Name">{{tab.name}}</td>
        <td data-label="Section Name">{{tab.Section_name}}</td>
        <!-- <td>{{tab.isActive}}</td> -->

       

        <td data-label="Action">
          <span class="form-check form-switch" style="display: flex !important;">
              <div>
                <input class="form-check-input" (click)="StatusUpdate(tab)" type="checkbox" id="flexSwitchCheckChecked"
                [checked]="tab.isactive" 
                 style="width: 32px !important;height: 15px !important;">
              </div>
               <div><i class="fa fa-pencil" (click)="updateTable(tab)"  style="color: red;margin: 0 10px;" ></i></div>
            </span>
       </td>


      </tr>

    </tbody>
  </table>


</div>