<div class="tree well">
    <ul>
  
      <li>
        <span><i class="fa fa-minus"></i>Organization Details</span> 
        <ul><li> <input type="checkbox">Organization Name</li></ul>
      </li>
  
      
        <li>
            <span><i class="fa fa-minus"></i> Order Details</span> 
            <ul><li> <input type="checkbox">Date</li></ul>
            <ul><li> <input type="checkbox">Time</li></ul>
            <ul><li> <input type="checkbox">KOT NO</li></ul>
            <ul><li> <input type="checkbox">Order ID</li></ul>
            <ul><li> <input type="checkbox">Crew</li></ul>
            <ul><li> <input type="checkbox">POS Machine</li></ul>
            <ul><li> <input type="checkbox">Table NO</li></ul>
            <ul><li> <input type="checkbox">PAX/Chair</li></ul>
        </li>
  
  
        <li>        
          <span><i class="fa fa-minus"></i> Home Delivery</span> 
          <ul><li> <input type="checkbox">First Name</li></ul>
          <ul><li> <input type="checkbox">Mobile No</li></ul>
          <ul><li> <input type="checkbox">LandLine</li></ul>
          <ul><li> <input type="checkbox">Building</li></ul>
          <ul><li> <input type="checkbox">Flat NO</li></ul>
          <ul><li> <input type="checkbox">Area</li></ul>
          <ul><li> <input type="checkbox">Street</li></ul>
          <ul><li> <input type="checkbox">Block</li></ul>
          <ul><li> <input type="checkbox">Floor</li></ul>
          <ul><li> <input type="checkbox">City</li></ul>
          <div class="innerdiv">
            <span><input type="checkbox" name="" id="">Transaction type</span> 
            <span><input type="checkbox" name="" id="">Item Header Dispaly</span> 
            <span><input type="checkbox" name="" id="">Remarks</span> 
          </div>
        </li>
  
  
    </ul>
  </div>
  
  