
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$HRMS-Admin-Dashboard-primary: mat.define-palette(mat.$indigo-palette);
$HRMS-Admin-Dashboard-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$HRMS-Admin-Dashboard-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$HRMS-Admin-Dashboard-theme: mat.define-light-theme((
  color: (
    primary: $HRMS-Admin-Dashboard-primary,
    accent: $HRMS-Admin-Dashboard-accent,
    warn: $HRMS-Admin-Dashboard-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($HRMS-Admin-Dashboard-theme);
@import "node_modules/@costlydeveloper/ngx-awesome-popup/styles/theme";
/* You can add global styles to this file, and also import other style files */



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Source+Sans+Pro:wght@300&display=swap');

html, 
body { margin: 0; 
    font-family: 'Inter','Source Sans Pro', sans-serif !important;
}
table thead,th,td{
  border-bottom: 0 !important;
}
td,th,tr{
  border-bottom: 0 !important;
}

tbody{
  border: 1px solid grey !important;

}
.fa-pencil{
  cursor: pointer;
}
table td{
  border-bottom: 1px solid rgb(163, 161, 161) !important;
}

.text-theme{
  color: #202A44;
}
.bg-theme{
  background-color: #202A44;
}

.highlight {
  background-color: violet;
  font-weight: bold;
}
::ng-deep .modal-backdrop {
  width: 0px !important;

}

.modal-footer{
  border: 0 !important;
  padding: 0 !important;
  
}
.savesec .btn-secondary{
  background: red !important;
  border: 0 !important;
}
.modal-title{
  font-size: 20px !important;
  color: #222 !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  }

  @media(max-width:990px){
    .fields{
      flex-direction: column !important;
    }
  }

  .form-switch input{
    cursor: pointer !important;
  }